@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/montserrat/Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("fonts/montserrat/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url("fonts/montserrat/Montserrat-UltraLight.woff") format("woff");
}

@font-face {
  font-family: avenirnext-demibold;
  src: url("fonts/avenirnext/AvenirNext-DemiBold.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: avenirnext;
  src: url("fonts/avenirnext/AvenirNext-Regular.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
}
